---
import SideBar from '../components/SideBar.astro';
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Ramon Hernandez">
	<main class="flex px-[10%] w-full py-0 items-center">
		<SideBar/>
        <Contact/>
	</main>
</Layout>