---
import Portfolio from '../components/Portfolio.astro';
import SideBar from '../components/SideBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" flex px-[10%] py-0 items-center h-screen">
		<SideBar/>
        <Portfolio/>
	</main>
</Layout>