---
import Portfolio from '../components/Portfolio.astro';
import SideBar from '../components/SideBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ramon Hernandez">
	<main class=" flex pl-[10%] pr-[5%] m-auto lg:px-[10%] py-0 items-center ">
		<SideBar/>
        <Portfolio/>
	</main>
</Layout>