---
import SideBar from '../components/SideBar.astro';
import Skills from '../components/Skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ramon Hernandez">
	<main class=" flex px-[10%] py-0 items-center">
		<SideBar/>
        <Skills/>
	</main>
</Layout>