---
import Projects from '../components/Projects.astro';
import SideBar from '../components/SideBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col-reverse justify-center px-[15%] lg:justify-center lg:items-center lg:h-full lg:flex-row lg:px-[10%] py-0 items-center">
		<SideBar/>
        <Projects/>
	</main>
</Layout>