---
import SideBar from '../components/SideBar.astro';
import About from '../components/About.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" flex pl-[15%] pr-[5%] m-auto lg:px-[10%] py-0 items-center ">
		<SideBar/>
        <About/>
	</main>
</Layout>