---
import SideBar from '../components/SideBar.astro';
import About from '../components/about.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class=" flex px-[10%] py-0 items-center h-screen">
		<SideBar/>
        <About/>
	</main>
</Layout>