<div class="w-full z-20 flex justify-center lg:block lg:justify-start lg:items-start items-center text-center lg:text-left flex-col">
  <h1 class="text-6xl uppercase font-black">
    <span class="movimiento1">Hola,</span>

    <span class="movimiento2 text-[38px] block"
      >Soy <span class="letra">R</span>amon,</span
    >
    <span class="movimiento3 text-[38px] block">Desarrollador Web.</span>
  </h1>
  <p
    class="text-[16px] font-sans font-semibold tracking-in-expand text-gray-800 mt-2 mb-14"
  >
    Bienvenido a mi sitio web.
  </p>
  <div class=" flex justify-between h-[50px]">
    <a href="/contacto" class="button">Contacto</a>
  </div>
</div>

<style>
  .letra {
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    color: #007d99;
    text-shadow: 4px 4px #000000;
  }
  .movimiento1 {
    animation: movimientoText1 2.8s ease forwards;
  }
  .movimiento2 {
    animation: movimientoText2 2.3s ease forwards;
  }
  .movimiento3 {
    animation: movimientoText 2.3s ease forwards;
  }
  .scale-up-hor-center {
    -webkit-animation: scale-up-hor-center 1.4s
      cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-center 1.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    border: none;
    color: black;
    padding: 8px;
    width: 150px;
    transition-duration: 0.4s;
    overflow: hidden;
    border: black solid 2px;
    border-radius: 4px;
  }

  .button:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #007d99;
    color: #000;
    border: #007d99 solid 2px;
  }

  .button:after {
    content: "";
    background: #007d99;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }

  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }

  .button:focus {
    outline: 0;
  }
</style>
