<nav
  class="fixed animation left-0 z-50 top-0 h-screen w-[60px] flex flex-col justify-between shadow-[1px_0px_10px_1px_#000] text-center bg-gray-100"
>
  <div class="bg-white shadow-[0px_0px_2px_0px_#000_inset]">
    <span class="uppercase font-semibold letra">R</span>
  </div>
  <div
    class="flex flex-col justify-center items-center text-center space-y-6 text-gray-900"
  >
    <a
      href="/"
      title="Inicio"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 1024 1024"
        ><path
          fill="currentColor"
          d="M946.5 505L534.6 93.4a31.93 31.93 0 0 0-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3c0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8c24.9-25 24.9-65.5-.1-90.5z"
        ></path></svg
      >
    </a>
    <a
      href="/sobre-mi"
      title="Sobre Mi"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 20 20"
        ><path
          fill="currentColor"
          d="M18 16c0-2-2.083-5-8-5c-.356 0-.698.01-1.026.032l.276 1.986c.239-.012.489-.018.75-.018v4H6v2h2v-2h2v2h8v-3Zm-8-6a4.5 4.5 0 1 0-.878-8.914l.388 1.962C9.667 3.017 9.83 3 10 3v5c-.17 0-.333-.017-.49-.048l-.388 1.962c.284.057.577.086.878.086Zm-2.933 1.29c-.69.149-1.3.35-1.834.59l1.051 1.713c.351-.14.755-.263 1.218-.36l-.435-1.944ZM4 19v-2H2v2h2Zm-1.84-4h2.228c.124-.18.284-.37.49-.557L3.64 12.866c-.78.66-1.254 1.416-1.48 2.134ZM7.5 1.758L8.613 3.42c-.274.183-.51.419-.693.693L6.258 3c.329-.49.751-.913 1.242-1.242ZM5.586 4.622l1.962.388a2.521 2.521 0 0 0 0 .98l-1.962.388a4.52 4.52 0 0 1 0-1.756ZM6.258 8L7.92 6.887c.183.274.419.51.693.693L7.5 9.242A4.525 4.525 0 0 1 6.258 8Z"
        ></path></svg
      >
    </a>
    <a
      href="/habilidades"
      title="Habilidades"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 48 48"
        ><mask id="ipSSettingTwo0"
          ><g fill="none" stroke-linejoin="round" stroke-width="4"
            ><path
              fill="#fff"
              stroke="#fff"
              d="M18.284 43.171a19.995 19.995 0 0 1-8.696-5.304a6 6 0 0 0-5.182-9.838A20.09 20.09 0 0 1 4 24c0-2.09.32-4.106.916-6H5a6 6 0 0 0 5.385-8.65a19.968 19.968 0 0 1 8.267-4.627A6 6 0 0 0 24 8a6 6 0 0 0 5.348-3.277a19.968 19.968 0 0 1 8.267 4.627A6 6 0 0 0 43.084 18A19.99 19.99 0 0 1 44 24c0 1.38-.14 2.728-.406 4.03a6 6 0 0 0-5.182 9.838a19.995 19.995 0 0 1-8.696 5.303a6.003 6.003 0 0 0-11.432 0Z"
            ></path><path
              fill="#000"
              stroke="#000"
              d="M24 31a7 7 0 1 0 0-14a7 7 0 0 0 0 14Z"></path></g
          ></mask
        ><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSSettingTwo0)"
        ></path></svg
      >
    </a>
    <a
      href="/experiencia"
      title="Experiencia"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 20 20"
        ><path
          fill="currentColor"
          d="M9 12H1v6a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-6h-8v2H9v-2zm0-1H0V5c0-1.1.9-2 2-2h4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h4a2 2 0 0 1 2 2v6h-9V9H9v2zm3-8V2H8v1h4z"
        ></path></svg
      >
    </a>
    <a
      href="/proyectos"
      title="Proyectos"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="34"
        height="34"
        viewBox="0 0 24 24"
        ><g fill="none"
          ><path d="M0 0h24v24H0z"></path><path
            fill="currentColor"
            d="M14.62 2.662a1.5 1.5 0 0 1 1.04 1.85l-4.431 15.787a1.5 1.5 0 0 1-2.889-.81L12.771 3.7a1.5 1.5 0 0 1 1.85-1.039ZM7.56 6.697a1.5 1.5 0 0 1 0 2.12L4.38 12l3.182 3.182a1.5 1.5 0 1 1-2.122 2.121L1.197 13.06a1.5 1.5 0 0 1 0-2.12l4.242-4.243a1.5 1.5 0 0 1 2.122 0Zm8.88 2.12a1.5 1.5 0 1 1 2.12-2.12l4.243 4.242a1.5 1.5 0 0 1 0 2.121l-4.242 4.243a1.5 1.5 0 1 1-2.122-2.121L19.621 12L16.44 8.818Z"
          ></path></g
        ></svg
      >
    </a>
  </div>
  <div
    class="flex flex-col justify-center items-center text-center space-y-2 mb-3 text-gray-900"
  >
    <a
      href="https://www.linkedin.com/in/ramon-antonio-hernandez-81617623a/"
      target="_blank"
      rel="noreferrer"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77Z"
        ></path></svg
      >
    </a>
    <a
      href="https://github.com/Ramon181"
      class="hover:text-[#007d99] rounded-sm p-1 hover:bg-[#e6e6e6]"
      target="_blank"
      rel="noreferrer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="currentColor"
          d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z"
        ></path></svg
      >
    </a>
  </div>
</nav>

<style>
  .letra {
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #007d99;
    text-shadow: 4px 4px #000000;
  }

  .animation {
    animation: sidebaRigth 1.5s ease forwards;
  }
  @keyframes sidebaRigth {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
