---
import Skill from "./Skill.astro";
---

<main class="wrapper z-30">
  <h2 class="text-center scale-up-hor-right text-[40px] uppercase font-black text-gray-800 px-0 py-5">
    Habilidades
  </h2>
  <Skill
    ability="https://api.iconify.design/vscode-icons/file-type-html.svg?width=42&height=42"
    titles="HTML"
  />
  <Skill
    ability="https://api.iconify.design/vscode-icons/file-type-css.svg?width=42&height=42"
    titles="CSS"
  />
  <Skill
    ability="https://api.iconify.design/logos/javascript.svg?width=42&height=42"
    titles="JavaScript"
  />
  <Skill
    ability="https://api.iconify.design/logos/python.svg?width=42&height=42"
    titles="Python"
  />
  <Skill
    ability="https://api.iconify.design/logos/php.svg?width=42&height=42"
    titles="PHP"
  />
  <Skill
    ability="https://api.iconify.design/logos/react.svg?width=42&height=42"
    titles="React"
  />
  <Skill
    ability="https://api.iconify.design/devicon/astro.svg?width=42&height=42"
    titles="Astro"
  />
  <Skill
    ability="https://api.iconify.design/devicon/nextjs.svg?width=42&height=42"
    titles="NextJs"
  />
  <Skill
    ability="https://api.iconify.design/devicon/redux.svg?width=42&height=42"
    titles="Redux"
  />
  <Skill
    ability="https://api.iconify.design/vscode-icons/file-type-tailwind.svg?width=42&height=42"
    titles="Tailwind"
  />
  <Skill
    ability="https://api.iconify.design/logos/sass.svg?width=42&height=42"
    titles="SASS"
  />
  <Skill
    ability="https://api.iconify.design/logos/nodejs-icon-alt.svg?width=42&height=42"
    titles="NodeJs"
  />
  <Skill
    ability="https://api.iconify.design/logos/express.svg?width=42&height=42"
    titles="Express"
  />
  <Skill
    ability="https://api.iconify.design/logos/sequelize.svg?width=42&height=42"
    titles="Sequelize"
  />
  <Skill
    ability="https://api.iconify.design/logos/flask.svg?width=42&height=42"
    titles="Flask"
  />
  <Skill
    ability="https://api.iconify.design/logos/passport.svg?width=42&height=42"
    titles="Passport"
  />
  <Skill
    ability="https://api.iconify.design/logos/postgresql.svg?width=42&height=42"
    titles="PostgreSQL"
  />
  <Skill
    ability="https://api.iconify.design/logos/mysql.svg?width=42&height=42"
    titles="MySQL"
  />
  <Skill
    ability="https://api.iconify.design/devicon/mongodb.svg?width=42&height=42"
    titles="MongoDB"
  />
  <Skill
    ability="https://api.iconify.design/icon-park/github.svg?width=42&height=42"
    titles="GitHub"
  />
  <Skill
    ability="https://api.iconify.design/devicon/git.svg?width=42&height=42"
    titles="Git"
  />
  <Skill
    ability="https://api.iconify.design/skill-icons/heroku.svg?width=42&height=42"
    titles="Heroku"
  />
  <Skill
    ability="https://api.iconify.design/devicon/vercel.svg?width=42&height=42"
    titles="Vercel"
  />
  <Skill
    ability="https://api.iconify.design/skill-icons/photoshop.svg?width=42&height=42"
    titles="Photoshop"
  />
  
</main>
<style>
  .wrapper {
    width: 100%;
    max-width: 2000px;
    margin: 3em auto;
    text-align: center;
  }
  .scale-up-hor-right {
    -webkit-animation: scale-up-hor-right 1s
      cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  @-webkit-keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
  @keyframes scale-up-hor-right {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
  }
</style>
